* {
  font-family: "Montserrat", sans-serif;
}

body,
p,
label,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.background {
  background-image: url("/creed-cartwheel.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 0;
  opacity: 50%;
}

.results-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  padding: 50px 50px 25px 50px;
  background-color: #363a34;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copy {
  padding: 5px 10px 10px 10px;
  margin-top: 30px;
  width: 125px;
  font-size: 24px;
}

.close-results {
  padding: 25px;
}

.guess-form-container {
  display: flex;
  flex-direction: column;
  margin: 80px 0;
  z-index: 1;
}

.form {
  display: flex;
  margin: 10px 0 30px 0;
}

.guess-label {
  display: flex;
}

input {
  height: 50px;
  width: 250px;
  font-size: 36px;
  border-radius: 2px;
  border: 2px solid rgb(184, 184, 184);
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.green {
  background-color: #50851b;
  color: white;
}
.yellow {
  background-color: #d1c328;
  color: black;
}
.black {
  background-color: #363a34;
  color: white;
}

.check {
  padding: 12px;
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 2px;
}

.disabled {
  background-color: grey;
}

.hide {
  display: none;
}
